.big-button{
    background: $purpule;
    border:none;
    border-bottom: .6rem solid darken($purpule, 10%);
    color:white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding:2.4rem;
    width:100%;
}
@media(min-widht:$desktop-breakpoint){
    .big-button{
        margin-bottom: $l-size;
    }
}
.big-button:disabled{
    opacity: .5;
}

.button{
    background: $purpule;
    border: none;
    border-bottom: .3rem solid darken($color: $purpule, $amount: 10%);
    color:white;
    font-weight: 500;
    padding: $s-size;
}
.button--link{
    background: none;
    border:none;
    color:$dark-white;
    padding:0;
}